node_modules
vendor
.git
.env
.env.*
storage/*.key
storage/*.sqlite
storage/*.sqlite3
storage/framework/cache/data
storage/logs
storage/app/public
public/hot
public/storage
.idea
.vscode
.DS_Store
npm-debug.log
yarn-error.log
tests
vendor
composer.lock
